/*******************
GENERAL
********************/

html {
	-webkit-font-smoothing: antialiased;
}

/*******************
TOP NAV
********************/

.top-navigation {
	width: 970px;
	height: 70px;
	background-color: #fff;
}

.links {
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	font-color: #4c5058;
	font-weight: 500;
}

.logo {
	margin-left: 14px;
	height: 70px;
}
.links{
	float: right;
}

/********************
INTRODUCTION 
*********************/

.intro {
	background-image: url('../img/background-image.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}

.cases {
	position: center;
	font-color: #fff
}

/********************
CASES
*********************/

.features{
	display: inline-block;
	list-style: none;
	text-align: center;

}



/********************
FOOTER
*********************/

footer{
	font-size: 0.75em;
	text-align: center;
	background-color: #fff;
}

.icons {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0 10px;
}